@import "vars";

.item, .item-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    margin-bottom: 20px;

}
.item:hover{
    cursor: pointer;
}

.info-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-info{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-info img{
    width: 64px;
    height: 64px;
    border-radius: 12px;
    object-fit: cover;
}

.item-info p{
    font-family: 'Quicksand', sans-serif;
    font-size: $--sm;
    font-weight: 300;
    color: var(--dark);
    margin-left: 20px;
}

.item-amount p{
    font-family: 'Quicksand', sans-serif;
    font-size: $--md;
    font-weight: bold;
    color: var(--dark);
    margin-left: 20px;
    padding: 12px;
}